<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.bsnkhua.vuvuzela</string>
    <key>CFBundleName</key>
    <string>Vuvuzela</string>
    <key>CFBundleDisplayName</key>
    <string>Vuvuzela</string>
    <key>CFBundleVersion</key>
    <string>6</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Vuvuzela</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSUserNotificationAlertStyle</key>
    <string>alert</string>
    <key>SUPublicEDKey</key>
    <string>9MskiV7ZponRn+v2sfPJyTq23Z3o6A3xuSz7mSWfSL0=</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/bsnkhua/vuvuzela/main/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
